.width{
    position: relative;
    width: 200px;
    z-index: 99;
}
.margin{
    margin-top: 100px;
}
.set-position{
    width: 400px;
    background-image: linear-gradient(orange, rgba(240, 218, 20, 0.788));
    padding-left: 240px;
    /* padding-right: 15px; */
    margin-top: -70px;
    /* margin-left: 300px;
    margin-right: 300px; */
    height: 45px;
}
.profile-container{
    /* border-radius: 10px; */
    /* background-image:repeating-radial-gradient(rgba(22, 125, 133, 0.719), rgb(218, 112, 25)); */
}