body{
    overflow-x: hidden;
}
.about-bg{
    background-image: repeating-radial-gradient(rgba(22, 125, 133, 0.719), rgb(218, 112, 25));
}
@media only screen and (max-width: 991px) and (min-width: 767px)  {
    .image{
        padding-top: 50px;
    }
    .font{
        font-size: 30px;
    }
}
@media only screen and (max-width: 375px){
    .responsive-margin{
        margin-bottom: 10px;
    }
}
.custom-margin{
    margin-top: -260px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 767px) and (min-width: 350px)  {
    .custom-margin{
        margin: 0;
        margin-top: -100px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 768px)  {
    .custom-margin{
        margin-top: -130px;
    }
}
@media only screen and (min-width: 1200px)  {
    .custom-margin{
        margin-top: -350px;
    }
}
